@media(max-width:1025px){
  .header{
    &__nav-link{
      font-size: 14px;
    }
  }
  .service{
  &-top__text{
    font-size: 16px;
  }
  &-slider__title{
    font-size: 27px;
  }
 }
 .slick-prev {
   left: 60%;
 }
 .slick-next {
   right: 27%;
 }
 .info{
   &__item+.info__item{
    margin-left: 50px;
   }
   &__bottom-inner{
     display: block;
   }
   &__bottom-descr--top,
   &__bottom-descr--bottom{
     font-size: 18px;
     line-height: 30px;
   }
   &__bottom-link::before{
     top: -283px;
     left: 205px;
   }
   &__bottom-link::after{
     top: -310px;
     left: 235px;
   }
 }
 .contacts{
   &__info-phone--mobile{
     display: block;
     padding-right: 0;
     max-width: 355px;
   }
 }
}

@media(max-width:769px){
  body.lock{
    overflow: hidden;
  }
  .header{
    &__burger{
      width: 50px;
      height: 40px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        bottom: 0;
        background-color: #fff;
      }
      &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        top: 0;
        background-color: #fff;
      }
    }
    &__burger-span{
      display: block;
      width: 50px;
      height: 3px;
      background-color: #fff;
      margin-top: 18px;
    }
    &__burger.active::after {
    transform: rotate(45deg);
    top: 19px;
    } 
    &__burger.active::before {
      transform: rotate(-45deg);
      top: 19px;
    }
    &__burger-span.active{
      display: none;
    }
    &__logo{
      z-index: 3;
    }
    &__nav{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    padding: 150px 0 0 0;
    text-align: center;
    transform: translateY(-300%);
    transition: all .3s;
    }
    &__nav.active{
      transform: translateY(0);
    }
    &__nav-item{
      display: block; 
    }
    &__nav-list{
      padding-bottom: 30px;
    }
    &__nav-list+.header__nav-list{
    margin-left: 0;
    }
    &__nav-link{
      font-size: 18px;
    }
    &-bottom__img{
      display: none;
    }
 }
 .service {
   &-top__img {
     max-width: 30%;
   }
 }
 .info {
   &__inner{
     flex-wrap: wrap;
   }
   &__item{
     margin-left: 110px;
   }
   &__item+.info__item {
     margin-left: 110px;
   }
 }
 .contacts {
   &__inner{
     padding: 15px 0;
   }
   &__info-title{
     padding-bottom: 35px;
   }
   &__form-input--name,
   &__form-input--phone,
   &__form-input--mail{
     width: 250px;
   }
   &__form-btn{
     width: 250px;
     &::after{
       right: 20px;
     }
   }
 }
}
@media(max-width:550px){
  .header{
    &-bottom{
      padding-top: 120px;
    }
    &-bottom__content-text{
      margin: 30px 0;
      &::before{
        display: none;
     }
    }
  }
  .service{
    &-top__text{
      font-size: 14px;
    }
    &-slider{
      padding-bottom: 30px;
    }
    &-slider__title{
      font-size: 20px;
      margin: 15px 0;
    }
  }
  .gallery{
    &__wrapper{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }
    &__link{
      font-size: 16px;
      padding: 10px 40px 15px 0;
      &::after{
        top: 11px;
      }
    }
  }
   .info {
     &__item {
       margin-left: 30px;
     }

     &__item+.info__item {
       margin-left: 30px;
     }
     &__bottom-inner{
       padding: 15px 0;
     }
     &__bottom-link::before {
       top: -234px;
       left: 163px;
     }

     &__bottom-link::after {
       top: -261px;
       left: 193px;
     }
   }
   .contacts{
     &__inner{
       display: block;
     }
     &__info-mail{
       padding: 40px 0 40px;
     }
     &__info-social{
       padding-bottom: 20px;
     }
     &__form{
       padding: 0 25px;
     }
   }
}
@media(max-width:400px){
  .info {
    &__bottom-link::before {
      top: -175px;
      left: 106px;
    }
    &__bottom-link::after {
      top: -204px;
      left: 134px;
    }
  }
}
@media(max-width:330px){
  .header{
    &-bottom__content-text{
      font-size: 14px;
      line-height: 26px;
      margin: 22px 0;
    }
  }
   .info {
     &__bottom-link::before {
       top: -155px;
       left: 92px;
     }
     &__bottom-link::after {
       top: -180px;
       left: 123px;
     }
   }
}