@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  width: 100%;
  height: 100vh;
  background-color: #000;
  &-top{
    position: fixed;
    background-color: #000;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
  }
  &-top__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  &__nav{
    display: flex;
  }
  &__nav-item{
    display: flex;
    align-items: center;
  }
  &__nav-list+.header__nav-list{
    margin-left: 40px;
  }
  &__nav-link{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    transition: all .3s;
    &:hover{
       font-family: 'Open Sans',sans-serif;
       font-weight: 500;
       color: rgba(255, 255, 255, 0.8);
    }
    &:focus{
       font-family: 'Open Sans',sans-serif;
       font-weight: 500;
       color: rgba(255, 255, 255, 0.8);
    }
  }
  &__nav-link.header__nav-link--phone{
     font-family: 'Open Sans',sans-serif;
     font-weight: 500;
     color: rgba(255, 255, 255, 0.8);
  }
    &-bottom{
      display: flex;
      justify-content: space-between;
      padding-top: 20%;
    }
    &-bottom__content-title{
      font-family: 'Open Sans',sans-serif;
      font-weight: 400;
      font-size: 42px;
      line-height: 57px;
      color: #fff;
    }
    &-bottom__content-text{
      font-family: 'Montserrat',sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.6);
      margin: 77px 0;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        height: 3px;
        width: 82px;
        background-color: #fff;
        top: -30%;
        left: 0;
      }
    }
    &-bottom__content-link{
      font-family: 'Open Sans',sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        background-image: url('../images/icons/arrow-right.svg');
        width: 19px;
        height: 16px;
        top: 5px;
        right: -45px;
      }
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/square.jpg');
        width: 40px;
        height: 40px;
        top: -6px;
        right: -74px;
      }
    }
    &-bottom-img{
      max-width: 50%;
    }
}

.service{
  background-color: $bg-white;
  &-top{
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  &-top__text{
    max-width: 740px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    span{
       font-family: 'Montserrat',sans-serif;
       font-weight: 700;
       text-transform: uppercase;
    }
  }
  &-slider{
    padding-bottom: 95px;
  }
  &-slider__title{
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    color: #000;
    margin-bottom: 36px;
  }
  &-slider__inner{
    display: flex;
    justify-content: space-around;
  }
  &-slider__item{
   max-width: 285px;
   height: 354px;
   background: linear-gradient(100.74deg, #1C1C1C -7.06%, #0D0D0D 104.89%);
   box-shadow: 0px 15px 20px rgba(23, 29, 38, 0.4);
   border-radius: 5px;
  }
  &-slider__item-title{
    padding: 40px 0 30px 15px;
    color: #59A8FD;
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    font-size: 24px;
  }
  &-slider__item-point{
    padding-left: 46px;
    padding-bottom: 10px;
  }
  &-slider__item-link{
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all .3s;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      width: 19px;
      height: 16px;
      top: 5px;
      left: -30px;
    }
    &:hover{
      color: #59A8FD;
    }
  }
}


.slick-prev,
.slick-next{
  border: 2px solid rgba(2, 123, 253, 0.5);
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  }
.slick-prev{
  top: -70px;
  left: 50%;
}
.slick-next{
  top: -70px;
  right: 40%;
}
.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  width: 45px;
  height: 37px;
  &:hover{
    path{
      fill: #fff;
      fill-opacity: 1;
    }
    background-color: #027BFD;
  }
}

.gallery{
  background-color: $bg-black;
  &__title{
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #fff;
    padding: 100px 0 60px;
  }
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 40px;
  }
  &__item{
    max-width: 580px;
    height: 380px;
  }
  &__item-img{
    width: 580px;
    height: 380px;
    object-fit: cover;
    border-radius: 15px;
  }
  &__link{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: right;
    text-transform: uppercase;
    padding: 20px 40px 35px 0;
    transition: all .3s;
    position: relative;
    &:hover{
      color: #59A8FD;
    }
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      width: 19px;
      height: 16px;
      top: 25px;
      right: 0;
    }
  }
}

.info{
  background-color: $bg-white;
  &__title{
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #000;
    padding: 100px 0 40px; 
  }
  &__inner{
    display: flex;
  }
  &__item{
    max-width: 193px;
  }
  &__item+.info__item{
    margin-left: 110px;
    max-width: 227px;
  }
  &__item-number{
    font-family: 'Paytone One',sans-serif;
    font-weight: 400;
    font-size: 144px;
    color: rgba(2, 123, 253, 0.15);
    opacity: .8;
  }
  &__item-text{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  transform: translateY(-70px);
  span{
    font-weight: 600;
    display: inline-block;
   }
  }
  &__descr-inner{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid rgba(2, 123, 253, 0.25);
    ;
  }
  &__descr-text{
    padding: 60px 0;
    max-width: 518px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
  &__bottom{
    background-color: #000;
  }
  &__bottom-inner{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
  }
  &__bottom-link{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right-large.svg');
      width: 61px;
      height: 16px;
      top: 50%;
      left: -340px;
      z-index: 2;
    }
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/square.jpg');
      width: 69px;
      height: 69px;
      right: 238px;
      top: 45%;
    }
  }
  &__bottom-descr{
    margin-left: 50px;
  }
  &__bottom-descr--top{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    span{
      font-weight: 700;
    }
    a{
      font-family: 'Montserrat',
      sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
      margin-bottom: 30px;
      display: block;
    }
  }
  &__bottom-descr--bottom{
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    span {
      font-weight: 700;
      margin-top: 30px;
      display: block;
    }
  }
}

.contacts{
  background-color: $bg-white;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }
  &__info-title{
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000;
    padding-bottom: 80px;
  }
  &__info-adress{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    max-width: 355px;
    padding-bottom: 40px;
  }
  &__info-phone--mobile{
    padding-right: 30px;
  }
  &__info-phone--mobile,
  &__info-phone--home{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #000;
    max-width: 215px;
  }
  &__info-mail{
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #000;
    padding: 40px 0 80px;
  }
  &__info-social{
    display: flex;
  }
  &__info-social--networks{
    margin-right: 40px;
    &:hover{
      path{
        transition: all .3s;
        fill: red;
      }
    }
  }
  &__form{
    width: 591px;
    background: linear-gradient(100.74deg, #1C1C1C -7.06%, #0D0D0D 104.89%);
    box-shadow: 0px 15px 20px rgba(23, 29, 38, 0.4);
    border-radius: 5px;
    text-align: center;
  }
  &__form-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    padding-top: 45px;
  }
  &__form-subtitle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    padding-bottom: 30px;
  }
  &__form-inner{
    max-width: 399px;
    margin: 0 auto;
  }
  &__form-input--name,
  &__form-input--phone,
  &__form-input--mail{
    width: 399px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    padding: 15px 15px 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(100.74deg, #1C1C1C -7.06%, #0D0D0D 104.89%);
    border-radius: 3px;
    margin-bottom: 10px;
  }
  &__form-btn{
    border-radius: 3px;
    border: none;
    background-color: #027BFD;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 399px;
    padding: 12px 0 13px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      width: 19px;
      height: 16px;
      top: 16px;
      right: 70px;
    }
  }
  &__form-privacy{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
    display: block;
    padding-bottom: 40px;
  }
}

// font-family: 'Montserrat',sans-serif;
// font-family: 'Open Sans',sans-serif;
// font-family: 'Paytone One',sans-serif;

@import 'media';